extends ../Usuario/HomeUsuario

block content
  .row
    .col-6
      if mensaje
        .alert.alert-success.mt-3
          = mensaje
      .card.shadow-lg.border-0.rounded-4.p-3
          
          img.card-img-top.rounded-top(           
              src=`/${imagen.urlImagen}`        
              alt="Imagen"      
              style="max-height:800px; object-fit:contain;"    
          )  
          .mt-2.text-center
            if user !== null
              a.mx-2(href="#" onclick=`Comentar('${imagen.id}')`)
                i.fa.fa-commenting(title="COMENTAR" style="font-size:40px; color: primary;")
              if user.id !== imagen.idUsuario
                a.mx-2(href="#" onclick=`Votar('${imagen.id}')`)
                  i.fa.fa-star(title="VOTAR" style="font-size:30px; color: yellow;")  
                a.mx-2(href="#" onclick=`Denunciar('${imagen.id}')`)
                  i.fa.fa-exclamation-triangle(title="DENUNCIAR" style="font-size:25px; color: red;")
          .col-md-4
    .col-4
      h3.text-center INFORMACION DE LA IMAGEN
      br
      h6.card-title= PUBLICACION
        h5 
          |Título de la publicación: #{imagen.Publicacion.titulo.toUpperCase()}
          a.mx-2(href=`/vertodaPublicacion/${imagen.id}`)
            i.fa.fa-arrow-right(title="VER TODAS LAS IMAGENES DE ESTA PLUBLICACION" style="font-size:25px; color: black;")
        if user!= null
          h6 Descripción: #{imagen.Publicacion.descripcion}
          h6 Votantes: #{cantVotantes}
          h6 Estrellas: #{promedioVotos}
          h6 
              | Publicada por : 
              b #{usuario.nick }
                if user.id !== usuario.id 
                  if verif===true
                    a.mx-2(href=`/dejar-seguir/${usuario.id}/${imagen.id}`)
                      i.fa.fa-check(
                        title="SIGUIENDO, DEJAR DE SEGUIR?"
                        style="font-size:25px; color: green;"
                      )
                  else
                    a.mx-2(href=`/seguir/${usuario.id}/${imagen.id}`)
                      i.fa.fa-star(
                        title="SEGUIR"
                        style="font-size:25px; color: orange;"
                      )
                if comentarios && comentarios.length > 0
                  h4.mb-3 Comentarios
                    each comentario in comentarios
                      .card.rounded-30
                        .card-body.border
                          h6.card-title.border.b=  comentario.Usuario.nick
                            p.card-text= comentario.texto
                            small.text-muted.border= comentario.fecha.toLocaleString()
    .row
      .mt-4.text-center
        a.btn.btn-outline-primary(
          href="javascript:history.back()"
        )
          | Volver

  div.modal(tabindex="-1", id="votar")
            div.modal-dialog
              div.modal-content
                div.modal-header
                  h5.modal-title Votar Imagen
                  button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                div.modal-body
                  form.row.g-3(action="/votar-imagen", method="post")
                    input(type="hidden", id="idVotada" name="idVotada")
                    .col-md-12
                      h5(class="form-label") Deseas votar: 
                    .col-12
                        label(for ="voto" class="form-label") Vota del 1 al 5 
                        input(type="number" class="form-control" name="voto" required min="1" max="5")
                    .col-12  
                    div.modal-footer
                      button(type="submit" class="btn btn-warning") Votar
                      button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close  

  div.modal(tabindex="-1", id="comentar")
      div.modal-dialog
        div.modal-content
          div.modal-header.bg-primary
            h5.modal-title Comentario
            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
          div.modal-body
            form.row.g-3(action="/comentar-imagen", method="post")
              input(type="hidden", id="idComentario" name="idComentario")
              .col-md-12
                h5(class="form-label") Que deseas comentar? 
              .col-12
                  textarea(type="text" row= '4' class="form-control" name="comentario" required )
              .col-12  
              div.modal-footer
                button(type="submit" class="btn btn-primary") Enviar comentario
                button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close  

  div.modal(tabindex="-1", id="denunciar")
    div.modal-dialog
      div.modal-content
        div.modal-header.bg-danger
          h5.modal-title Denunciar
          button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
        div.modal-body
          form.row.g-3(action="/denunciar-imagen", method="post")
            input(type="hidden", id="idDenunciada" name="idDenunciada")
            .col-12
              label(class="form-label") Motivo
            .col-12
              input(type="text" class="form-control"  name="m" required)
            .col-md-12
              label(class="form-label") Descripcion
            .col-12
              textarea(type="text" row= '4' class="form-control" name="d" required )
            .col-12  
            div.modal-footer
              button(type="submit" class="btn btn-danger") Enviar denuncia
              button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close                  
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js")
  script.
       function Votar(idVotada) {
        document.querySelector("#idVotada").value = idVotada;
        var myModal = new bootstrap.Modal(document.getElementById('votar'));
        myModal.show();
       }
  script.
     function Comentar(idComentario) {
      document.querySelector("#idComentario").value = idComentario;
      var myModal = new bootstrap.Modal(document.getElementById('comentar'));
      myModal.show();
     }
  script.
     function Denunciar(idDenunciada) {
      document.querySelector("#idDenunciada").value = idDenunciada;
      var myModal = new bootstrap.Modal(document.getElementById('denunciar'));
      myModal.show();
     }   