doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="/public/css/css.css")

    title Document
  body
    .div-3
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        .container-fluid
          a.navbar-brand(href="#" style="color:pink;") Fotaza Fotografias

          button.navbar-toggler(
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          )
            span.navbar-toggler-icon

          .collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.me-auto.mb-2.mb-lg-0

              li.nav-item.me-2
                form(action="/mi perfil" method="GET")
                  button.btn.btn-outline-success(type="submit")
                    | Mi Perfil

              li.nav-item
                form(action="/nuevaPublicacion" method="GET")
                  button.btn.btn-outline-success(type="submit")
                    | Nueva publicación

            form.d-flex
              input.form-control.me-2(
                type="search"
                placeholder="Buscar imágenes"
                aria-label="Search"
              )

              button.btn.btn-outline-success(type="submit")
                | Buscar
    block content