extends ./HomeUsuario

block content
  .row.bg-success.p-2
    .col-12
      each etiqueta in etiquetas
        a.btn.btn-primary.m-1(
          href=`/etiqueta/${etiqueta.id}`
        )= etiqueta.nombre
    .row.bg-dark.p-2
      .col-1 
      .col-10 
        .d-flex.flex-wrap
          each imagen in imagenes
            .me-3.flex-shrink-0.col-imagen.mb-3
              a(href=`/imagen/${imagen.id}`)
                img.rounded.shadow.p-3(
                  src=`/${imagen.urlImagen}`
                  alt="Imagen"
                  style="width:250px; height:300px; object-fit:cover;"
                )
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js")