doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="/public/css/css.css")
    script(src="//cdn.datatables.net/2.1.8/js/dataTables.min.js")
    script(src="//cdn.datatables.net/2.1.8/js/dataTables.min.js")
    script.
      $(document).ready(function(){
      let table = new DataTable('#tableO');
      });
    script.
      $(document).ready(function() {
      let table = $('#table').DataTable();
      $('.dataTables_paginate').addClass('no-print'); // Paginación
      $('.dataTables_filter').addClass('no-print')
      })
    script.
      $(document).ready(function(){
      let table = new DataTable('#d');
      $('.dataTables_paginate').addClass('no-print'); // Paginación
      $('.dataTables_filter').addClass('no-print')
      });
    title Document
  body
    .div-3
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        .container-fluid
          a.navbar-brand(href="#" style="color:pink;") Fotaza Fotografias

          button.navbar-toggler(
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          )
            span.navbar-toggler-icon

          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
              form(action="/registro" method="GET")
                button.btn.btn-outline-success(type="submit")
                  | Regístrate en nuestro mundo Fotaza

              form(action="/ingreso" method="GET")
                button.btn.btn-outline-success(type="submit")
                  | Ingresa a nuestro mundo Fotaza

            form.d-flex.col-4(action="/buscar", method="post")
              .input-group.mb-3
                .input-group-prepend
                  select.form-select(name="criterio", id="criterio")
                    option(value="titulo") Título
                    option(value="descripcion") Descripción
                input.form-control(type="text", name="valor", id="valor", placeholder="Valor a buscar", required)

    
    .row
        div#resultados.d-flex.bg-dark.p-2 
  .row.bg-success.p-2
    .col-12
      each etiqueta in etiquetas
        a.btn.btn-primary.m-1(
          href=`/etiqueta/${etiqueta.id}`
        )= etiqueta.nombre
    .row.bg-dark.p-2
      .col-1 
      .col-10 
        .d-flex.flex-wrap
          each imagen in imagenes
            .me-3.flex-shrink-0.col-imagen.mb-3
              a(href=`/imagen/${imagen.id}`)
                img.rounded.shadow.p-3(
                  src=`/${imagen.urlImagen}`
                  alt="Imagen"
                  style="width:250px; height:300px; object-fit:cover;"
                )
  script(src="/busqueda.js")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js")